$size: 200px;

.star {
  position: relative;
  top: -$size / 2;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: gold;
  margin: auto;
  image:url(https://avatanplus.com/files/resources/original/57750e473ca1a155a13fc650.png);
}