.sky {
  height: 100%;
  background-image: url(http://www.14denoviembre.es/img/stars_5.png) ;
  color: white;
  text-align: center;
};
span{
  margin: 300px;
  font-size:2em;
  display: inline-block;
};
.band{
  font-size:3em;
  margin-bottom: 700px;
  padding-bottom: 300px;
};
